/* .App {
    text-align: center;
} */


/* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
} */


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
} */


/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

button,
input {
    overflow: visible;
    padding: 10px 40px;
    border-radius: 10px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    margin-left: 10px;
}


/* .App {
    background-color: black;
    color: white;
} */

.App-header {
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 0%;
}

.App-main {
    background-color: black;
    color: white;
    margin: 0%;
}

a {
    color: white;
    text-decoration: none;
}

form {
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    display: block;
}