/* .App {
    text-align: center;
} */


/* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
} */


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */


/* .App-link {
    color: #61dafb;
}  */


/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */


/* @media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
} */

button {
    overflow: visible;
    padding: 16px 130px;
    border-radius: 10px;
}

.form-btn {
    background-color: #2ebc4f;
    color: white;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto focus-ring-color;
}

ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    margin-left: 10px;
}

ul li a {
    text-decoration: none;
}

input {
    padding: 10px 94px;
    margin-bottom: 2rem;
    border-radius: 4px;
}

input:focus {
    outline: 1px dotted;
    outline: 5px auto focus-ring-color;
}


/* .App {
    background-color: black;
    color: white;
} */

header {
    background-color: black;
    color: white;
}

.App-header {
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 0%;
}

main {
    background-color: black;
    color: white;
    margin: 0%;
}

form {
    display: block;
}

.signup {
    display: grid;
    grid-template-columns: 19% 1fr 1fr;
    height: 44vh;
    width: 36vw;
    text-align: center;
    color: black;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(10, 151, 216);
}

.form-input {
    background-color: white;
    color: black;
    height: 410px;
    width: 385px;
    padding: 48px 43px 50px 46px;
    border-radius: 1rem;
}

.form-input p {
    font-size: 12px;
}

.App-main {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    display: grid;
    grid-auto-columns: 50% 1fr 1fr 50%;
    min-width: 100%;
    min-height: 100%;
    grid-column: 2/3;
}